<table class="table">
  <thead>
    <tr>
      <th>Exchange Name</th>
    </tr>
  </thead>
  <tbody>
    <% @exchanges.each do |exchange| %>
      <%= exchange.name %>
        <% end %>
  </tbody>
</table>
